
/* Polices de caractères */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


/* Palette de couleurs */

$golden-sand: #eccc68;
$orange: #ffa502;

$coral: #ff7f50;
$bruschetta-tomato: #ff6348;

$wild-watermelon: #ff6b81;
$watermelon: #ff4757;

$peace: #a4b0be;
$bay-wharf: #747d8c;

$grisaille: #57606f;
$prestige-blue: #2f3542;

$lime-soap: #7bed9f;
$ufo-green: #2ed573;

$french-sky-blue: #70a1ff;
$clear-chill: #1e90ff;

$saturated-sky: #5352ed;
$bright-greek: #3742fa;

$white: #ffffff;
$anti-flash-white: #f1f2f6;

$city-lights: #dfe4ea;
$twinkle-blue: #ced6e0;

$black: #000000;


body {
  background-image: radial-gradient(circle, $city-lights, $city-lights 1px, $white 1px, $white);
  background-size: 20px 20px;
  color: $prestige-blue;
  font-family: 'Open Sans';

}

p {
  text-align: justify;
}

section {
  padding-top : 42px;
  padding-bottom: 42px;
}

h1, h2 {
  font-weight: bold;
  font-variant: small-caps;
}

h1 {
  font-size: 8em !important;
  text-align: center;
  padding-top: 60px !important;
  
}

h2 {
  font-size: 3.3em !important;
  margin-bottom: 0 !important;
}

h2.sous-titre {
  font-size: 2em !important;
  text-align: center;
  color: $grisaille;
  padding-bottom: 100px !important;
}

h3 {
  font-size: 1.7em !important;
  font-variant: small-caps;
  color: $grisaille !important;
  margin-bottom: 42px !important;
}

nav.navbar {
  background-color: $white;
}

.nav-underline {
  background: $bright-greek;
  background: linear-gradient(140deg, $saturated-sky 0%, $bright-greek 100%);
  height: 5px;
  box-shadow: 0 0 11px $saturated-sky;
}

#faucon-imperial {
  background: $prestige-blue;
  background: linear-gradient(140deg, $prestige-blue 0%, $black 100%);
  color: $white;
}

#temoignages {
  color: $prestige-blue;
}

#equipe {
  background: $bright-greek;
  background: linear-gradient(140deg, $saturated-sky 0%, $bright-greek 100%);
  color: $white;
}

#faucon-imperial h3, #equipe h3 {
  color: $twinkle-blue !important;
}

#connexion, #inscription {
  background: $prestige-blue;
  background: linear-gradient(140deg, $prestige-blue 0%, $black 100%);
  color: $white;
}

.material-icons {
  vertical-align: bottom;
}

.btn-secondary {
  background: $bright-greek;
  background: linear-gradient(140deg, $saturated-sky 0%, $bright-greek 100%);
  color: $white;
  border: none !important;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s !important;
}

.btn-secondary:hover {
  box-shadow: 0 0 11px $saturated-sky;
  transition: 0.5s !important;
}
